{% extends 'layout.html'%}

{% block content %}
<body>
    <div class="container mt-5">
        <div class="card bg-light">
            <div class="card-body">
                <h1 class="card-title "><i class="bi bi-journal-check"></i> About the Student Management System</h1>
                <p class="card-text text-muted">
                    Welcome to our Student Management System! Our platform is designed to streamline the process of managing students' academic information and administrative tasks for educational institutions.
                </p>
                <p class="card-text text-muted">
                    With our system, administrators can easily add, edit, and delete student records, manage courses and classes, track attendance, and generate reports. Additionally, teachers can use the platform to record grades, assignments, and communicate with students and parents.
                </p>
                <p class="card-text text-muted">
                    Our goal is to provide a user-friendly and efficient solution that enhances the overall educational experience for students, teachers, and administrators. By leveraging modern web technologies and best practices, we aim to simplify the complexities of student management and empower educational institutions to focus on what matters most – student success.
                </p>
                <p class="card-text text-muted">
                    Whether you're a school, college, or university, our Student Management System is here to support your institution's needs and help you achieve your academic goals. Join us in revolutionizing the way we manage student information and shape the future of education.
                </p>
            </div>
        </div>
    </div>
</body>


{% endblock content %}